# http://nedbatchelder.com/code/coverage/config.html

[run]


[report]
include = x_django_app_maker/*
omit = x_django_app_maker/templates/*

exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == u'__main__':
